name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      juju-channel: 3.6/stable
      provider: lxd
      pre-run-script: |
        -c "chmod +x tests/integration/pre_run_script.sh
        ./tests/integration/pre_run_script.sh"
      self-hosted-runner: true
      self-hosted-runner-label: "edge"
      modules: '["test_charm", "test_proxy"]'
      tmate-debug: true
      tmate-timeout: 90
  allure-report:
    if: always() && !cancelled()
    needs: integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
